<template>
  <json-editor :json="json" :onChange="onChange" ref="editor"></json-editor>
</template>

<script>

  import JSONEditor from 'vue2-jsoneditor'

  export default {
    props: ['json'],
    data() {
      return {
        editorInstance: null
      }
    },
    components: {
      'json-editor': JSONEditor
    },
    methods: {
      onChange() {
        console.log('changed', this.editorInstance)
      }
    },
    mounted() {
      this.editorInstance = this.$refs.editor.editor
      this.editorInstance.setName('Diccionario')
      this.editorInstance.expandAll()

      // Desactivar edición de llaves
      var elements = document.querySelectorAll('.jsoneditor-field');
      Array.prototype.forEach.call(elements, function(el, i){
        el.setAttribute('contenteditable', false);
      });

    }
  }
</script>

<style lang="scss">
  $main_color: #20a0ff;
  $header_height: 60px;

  .jsoneditor {
    height: calc(100vh - #{$header_height}) !important;
    border: none !important;
    margin-top: $header_height;

    .jsoneditor-menu {
      background: $main_color !important;
      border-color: $main_color !important;
    }
  }
</style>