<template>
  <el-menu class="app-header" theme="dark" mode="horizontal">
    <el-menu-item index="1">DadaTranslator</el-menu-item>
    <el-menu-item index="2" @click="loadOptionClicked">
      <i class="el-icon-plus"></i>Cargar
    </el-menu-item>
    <el-menu-item index="3">
      <i class="el-icon-upload"></i>Guardar
    </el-menu-item>
  </el-menu>
</template>

<script>
  export default {
    methods: {
      loadOptionClicked() {
        this.$emit('loadOptionWasClicked')
      }
    }
  }
</script>

<style scoped lang="scss">
  .app-header {
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  }
</style>