<template>
  <div class="forms-container">
    <el-collapse v-model="activeNames">
      <div v-for="(key, keyname, keyindex) in json" :key="keyindex"
           type="flex" class="row-bg" justify="space-around">

        <el-collapse-item :title="keyname" :name="keyindex">

          <el-row>
            <el-form :labelPosition="'top'" :inline="true" :model="json">
              <el-col :span="4" v-for="(lang, langname, langindex) in key" :key="langindex">
                <div class="grid-content">
                  <el-form-item :label="langname">
                    <el-input size="small" v-model.lazy="json[keyname][langname]"></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-form>
          </el-row>

        </el-collapse-item>

      </div>
    </el-collapse>
  </div>
</template>

<script>

  export default {
    props: ['parsedJson'],
    data() {
      return {
        json: this.parsedJson,
        activeNames: ['1'],
        rules: {
          keyInput: [
            {required: true, message: 'Por favor escribe un valor', trigger: 'blur'},
          ]
        }
      }
    },
    methods: {
      showJson() {
        console.log(this.parsedJson)
      }
    }
  }

</script>

<style scoped>
  .forms-container {
    margin-top: 60px;
  }

  .grid-content {
    margin: 5px;
  }

  .el-form-item {
    width: 100%;
    margin: 0;
  }
</style>
