<template>
  <div>
    <app-header @loadOptionWasClicked="loadDictsList"></app-header>
    <!--<app-key-form :parsedJson="parsedJson"></app-key-form>-->
    <el-row>
      <el-col :span="24">
        <app-editor v-if="parsedJson" :json="parsedJson"></app-editor>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import AppHeader from './components/AppHeader.vue'
  import AppEditor from './components/AppEditor.vue'

  import { listObjects } from './js/s3Helper'

  import JSON from './json/premium.json'

  export default {
    name: 'app',
    components: {
      AppHeader, AppEditor
    },
    created() {
      this.parseObject()
    },
    data() {
      return {
        json: JSON,
        availableLangs: [],
        availableKeys: [],
        parsedJson: {}
      }
    },
    methods: {
      loadDictsList() {
        console.log('App[loadDictsList]', listObjects('dadaroom/stage/build/css/dada'))
      },
      parseObject() {
        let langs = [], keys = [], newObject= {}, self = this

        // Primer nivel de keys del json (Lenguajes)
        Object.keys(this.json).forEach(function (lang) {
          langs.push(lang)

          // Segundo nivel de keys del json (llaves por lenguaje)
          Object.keys(self.json[lang]).forEach(function (key) {
            self.pushIfNotExists(keys, key)
          })
        })

        this.availableLangs = langs
        this.availableKeys = keys

        /*
          * Construimos el nuevo objecto con el formato adecuado
          * 'llave' : {'es-MX': 'valor', 'es-AR': 'valor', ... }
          */

        for (let key of keys) {
          let subObject = {}
          for (let lang of langs) {
            if(lang in self.json && key in self.json[lang])
              subObject[lang] = self.json[lang][key]
          }
          newObject[key] = subObject
        }

        this.parsedJson = newObject
      },
      pushIfNotExists(array, value) {
        if (array.indexOf(value) === -1) {
          array.push(value)
        }
      }
    }
  }
</script>

<style>
  body, html {
    margin: 0;
    padding: 0
  }

  #app, body, html {
    height: 100%
  }

  body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    overflow: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
  }

  a {
    color: #4078c0;
    text-decoration: none
  }
</style>
